/* styles.css */
body {
    background-color: skyblue;
    color: red;
}

ul {
    background-color: skyblue;
    color: red;
}

b {
    color: red;
}
/* styles.css */
/* Existing styles */

.good {
    color: blue;
}
