.image
{background-image:url('BACKGROUNDAGENTS.jpg');
  background-size: cover;
}
/* Reset default browser styles */
body, h1, h2, p, ul, li, form, input, button {
    margin: 0;
    padding: 0;
    color:orchid;
}

/* Apply a background color to the body */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
    background-color:pink;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Style the navigation links */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Style the registration form */
#register-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#register-form h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
}

#register-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#register-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:pink;
    color:orchid;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Style the footer */
footer {
    background-color:pink;
    color:orchid;
    text-align: center;
    padding: 10px;
}
footer a {
    text-decoration: none;
    color:orchid;;
    font-weight: bold;
}